@use "../components/theme/common";

.flexContainer {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: white;
  align-items: stretch;
}
.lightBlueCircle {
  position: absolute;
  width: 125px;
  height: 282px;
  left: 0px;
  top: 0px;
}
.yellowCircle {
  position: absolute;
  width: 16%;
  height: 153.17px;
  left: 42%;
  top: 42%;
}
.formHeading {
  color: common.$darkGray;
  font-size: common.$mainHeadFont;
  font-weight: 400;
}
.insideFlexLeft {
  z-index: 100;
  color: black;
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formBox {
  width: 60%;
  .formControl {
    width: 100%;
    height: 41px;
    margin-top: 30px;
    display: block;
  }
  .formInput {
    border-bottom: 1px solid common.$lightGray;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    box-sizing: border-box;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    &:focus {
      outline: none;
      border-bottom: 1px solid common.$primaryColor;
      transition: border 500ms ease-out;
    }
  }
  .userNameIcon {
    background-image: url("../icons/emailIcon.svg");
  }
  .passIcon {
    background-image: url("../icons/passIcon.svg");
  }
  .loginBtn {
    background: common.$primaryColor;
    border-radius: 5px;
    height: 41px;
    width: 45%;
    text-transform: uppercase;
    cursor: pointer;
    font-size: common.$normalFont;
    font-weight: 600;
    border: 0px;
    &:hover {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
        0 3px 10px 0 rgba(0, 0, 0, 0.19);
      transition: box-shadow 200ms ease-out;
    }
  }
  .linkBtn {
    float: right;
    height: 100%;
    color: common.$secondaryColor;
    background: none;
    border: 0px;
    font-size: common.$normalFont;
    cursor: pointer;
    &:hover {
      font-weight: 500;
    }
  }
}

.insideFlexRight {
  z-index: 100;
  flex: 50%;
  padding: 2% 2% 2% 0%;
  .blueBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      180deg,
      rgba(0, 123, 168, 0.72) 0%,
      #007ba8 100%
    );
    border-radius: 26px;
    height: 100%;
  }
  .mainHeading {
    margin: 5%;
    font-weight: 600;
    font-size: 35px;
    color: white;
  }
  .logo {
    width: 180px;
  }
  .subHead {
    margin: 5%;
    color: white;
    font-size: common.$subHeadFont;
    font-weight: 400;
  }
}

.checkContainer {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  margin-top: 30px;
  cursor: pointer;
  font-size: common.$normalFont;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  & input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 17px;
    width: 17px;
    border: 2px solid #ccc;
    border-radius: 50%;
    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }
  &:hover input ~ .checkmark {
    border: 2px solid common.$secondaryColor;
  }
  & input:checked ~ .checkmark {
    border: 2px solid common.$secondaryColor;
    background-color: common.$secondaryColor;
  }
  & input:checked ~ .checkmark:after {
    display: block;
  }
  & .checkmark:after {
    left: 4px;
    top: 2px;
    width: 3px;
    height: 6px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(51deg);
    -webkit-transform: rotate(51deg);
    -ms-transform: rotate(51deg);
  }
}

@media only screen and (max-width: 768px) {
  .insideFlexLeft {
    flex: 100%;
  }
  .insideFlexRight,
  .yellowCircle,
  .lightBlueCircle {
    display: none;
  }
  .formBox {
    width: 80%;
  }
  .formHeading {
    font-size: common.$mainHeadFontMob;
    font-weight: 500;
  }
  .circleRing{
    position: absolute;
    background: white;
    height: 220px;
    width: 220px;
    border-radius: 50%;
  }
  .yellowRing{
    top: -12%;
    left: -24%;
    border: 13px solid common.$fadedPrimaryColor;
  }
  .blueRing{
    bottom: -17%;
    right: 6%;
    border: 15px solid common.$fadedSecondaryColor;
  }
}
