@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

// Colors
$primaryColor: #FBC773;
$fadedPrimaryColor: #FFD590;
$secondaryColor: #027CA9;
$fadedSecondaryColor: #87DCFB;
$darkGray: #3F3F3F;
$lightGray: #afafaf;

// Font Sizes
$normalFont: 15px;
$mainHeadFont: 35px;
$mainHeadFontMob: 25px;
$subHeadFont: 20px;