@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

// Colors
$primaryColor: #FBC773;
$secondaryColor: #027CA9;
$darkGray: #3F3F3F;
$lightGray: #afafaf;
$normalFont: 15px;
$subHeadFont: 20px;